@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .menu-items{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .banner{
        flex-direction: column;
        margin-top: 90px;
    }
    .banner-img{
        margin-top: 10px;
        margin-right: 40px;
        width: 400px;
        height: 350px;
    }
    .feature{
        flex-direction: column;
        margin-left: 20px;
        padding: 15px;
    }
    .feature-img{
        width: 500px;
        height: 550px;
    }
}